variables:
  BUILD_HELPERS_VERSION: 49fa9154fc0ef50be501a9fbe63d5359b8a594ec
  VIRTER_VERSION: v0.14.0
  VMSHED_VERSION: v0.12.1
  # we have to change the way GitLab CI clones the repository.
  # by default, it is shallow, which gives us a wrong commit count when
  # we do `git rev-list --count origin/master` below.
  GIT_DEPTH: 0
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: normal


stages:
    - base-image
    - build
    - package
    - test

build:
  stage: build
  image: golang:buster
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - GOPATH=$(pwd)/.mygo make
  artifacts:
    paths:
      - linstor-gateway
    expire_in: 3 months

.setup-lbbuild:
  before_script:
    - . gitlab-utils.sh
    - ci_prepare_tools
    - ci_fetch_lbbuildctl
    - |
      gateway_build() {
        local version="$1"
        local release="$2"

        set -x

        dummy-release.sh linstor-gateway $version $release linstor-gateway.spec
        make VERSION=$version FORCE=1 debrelease
        curl -isSf -u $LINBIT_REGISTRY_USER:$LINBIT_REGISTRY_PASSWORD --upload-file linstor-gateway-$version.tar.gz $LINBIT_REGISTRY_URL/repository/lbbuild-upstream/
        lbbuildctl build linstor-gateway --ci \
          --arch amd64 -v "$version" \
          -e LINBIT_REGISTRY_USER=$LINBIT_REGISTRY_USER \
          -e LINBIT_REGISTRY_PASSWORD=$LINBIT_REGISTRY_PASSWORD \
          -e LINBIT_REGISTRY_URL=$LINBIT_REGISTRY_URL \
          -d rhel8.0
      }

package:
  stage: package
  extends: [ .setup-lbbuild ]
  image: $LINBIT_DOCKER_REGISTRY/build-helpers:$BUILD_HELPERS_VERSION
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == "master"
  script:
    - if [ -n "$CI_COMMIT_TAG" ]; then
    -   VERSION=$(echo $CI_COMMIT_TAG | tr -d 'v')
    -   RELEASE=1
    - elif [ "$CI_COMMIT_BRANCH" = "master" ]; then
    -   VERSION=0.0.0.latest
    -   RELEASE=$(git rev-list --count "origin/$CI_COMMIT_BRANCH")
    - else
    -   VERSION=0.0.0.$CI_COMMIT_SHA
    -   RELEASE=1
    - fi
    - gateway_build $VERSION $RELEASE
  dependencies:
    - build

base-image:
  stage: base-image
  rules:
    - if: $CI_MERGE_REQUEST_ID
      when: manual
    - if: $CI_COMMIT_BRANCH == 'master'
      when: manual
  tags:
    - libvirt
  # avoid blocking the pipeline with a manual job
  allow_failure: true
  script:
    - ln -snf $DOCKER_AUTH_CONFIG_FILE $HOME/.docker/config.json
    - |
      curl -sSfL -u gitlab-ci-token:$CI_JOB_TOKEN $CI_SERVER_URL/linbit/build-helpers/-/archive/$BUILD_HELPERS_VERSION/ignored.tar.gz | tar -xvzf -
      mv build-helpers-* build-helpers
      . build-helpers/gitlab-utils.sh
    - |
      ci_prepare_tools
      ci_fetch_binary virter virter-$VIRTER_VERSION https://github.com/LINBIT/virter/releases/download/$VIRTER_VERSION/virter-linux-amd64
    - |
      virter image rm gateway-base-image
      cd integration-tests
      make BASE_IMAGE=$LINBIT_DOCKER_REGISTRY/linstor-gateway-tests/base:centos-8 base_image
      virter image push $LINBIT_DOCKER_REGISTRY/linstor-gateway-tests/base:centos-8

publish-docker:
  stage: package
  rules:
    - if: $CI_MERGE_REQUEST_ID
  tags:
    - shell
  script:
    - ln -snf $DOCKER_AUTH_CONFIG_FILE $HOME/.docker/config.json
    - |
      cd integration-tests
      docker build -t $LINBIT_DOCKER_REGISTRY/linstor-gateway-e2e:$CI_COMMIT_SHA .
      docker push $LINBIT_DOCKER_REGISTRY/linstor-gateway-e2e:$CI_COMMIT_SHA

test:
  stage: test
  image: golang:buster
  rules:
    - if: $CI_MERGE_REQUEST_ID
  cache:
    paths:
      - .mygo/pkg/mod
  script:
    - GOPATH=$(pwd)/.mygo go test -coverprofile .testCoverage.txt ./...
    - GOPATH=$(pwd)/.mygo go tool cover -func=.testCoverage.txt
  needs: []

test-e2e:
  stage: test
  rules:
    - if: $CI_MERGE_REQUEST_ID
  tags:
    - libvirt
  script:
    - ln -snf $DOCKER_AUTH_CONFIG_FILE $HOME/.docker/config.json
    - |
      curl -sSfL -u gitlab-ci-token:$CI_JOB_TOKEN https://gitlab.at.linbit.com/linbit/build-helpers/-/archive/$BUILD_HELPERS_VERSION/ignored.tar.gz | tar -xvzf -
      mv build-helpers-* build-helpers
      . build-helpers/gitlab-utils.sh
    - |
      ci_prepare_tools
      ci_fetch_binary virter virter-$VIRTER_VERSION https://github.com/LINBIT/virter/releases/download/$VIRTER_VERSION/virter-linux-amd64
      ci_fetch_binary vmshed vmshed-$VMSHED_VERSION https://github.com/LINBIT/vmshed/releases/download/$VMSHED_VERSION/vmshed-linux-amd64
    - virter image pull centos-8-gateway $LINBIT_DOCKER_REGISTRY/linstor-gateway-tests/base:centos-8
    - docker pull $LINBIT_DOCKER_REGISTRY/linstor-gateway-e2e:latest
    - |
      cd integration-tests
      make LINSTOR_GATEWAY_VERSION=0.0.0.$CI_COMMIT_SHA TEST_SUITE_IMAGE=$LINBIT_DOCKER_REGISTRY/linstor-gateway-e2e:$CI_COMMIT_SHA run
  needs:
    - package
    - publish-docker
