[Unit]
Description=Linstor iSCSI
After=network.target

[Service]
ExecStart=/usr/sbin/linstor-iscsi server --addr ":8080"

[Install]
WantedBy=multi-user.target
