Source: linstor-gateway
Section: admin
Priority: optional
Maintainer: Christoph Böhmwalder <christoph.boehmwalder@linbit.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/LINBIT/linstor-gateway
Vcs-Git: https://github.com/LINBIT/linstor-gateway.git
Vcs-Browser: https://github.com/LINBIT/linstor-gateway

Package: linstor-gateway
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: linstor-gateway manages highly available iSCSI targets and NFS exports.
 Setting linstor including storage pools and resource groups as well as
 Corosync and Pacemaker's properties a prerequisite to use this tool.
